<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6be2c3">  <td>21/05/16 17:35:06</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;NetlinkSDNDashboard.Initializtion()[pri:0, instance:TestCases.NetlinkSDNDashboard@7ea37dbf]">&gt;&gt;Initializtion</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1990098664</td>   <td></td> </tr>
<tr bgcolor="6be2c3">  <td>21/05/16 17:35:19</td>   <td>12426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NetlinkSDNDashboard.NetlinkSDNTabs()[pri:0, instance:TestCases.NetlinkSDNDashboard@7ea37dbf]">NetlinkSDNTabs</td> 
  <td>main@1990098664</td>   <td></td> </tr>
</table>
